@import url(./styles.less);
:host {
  --divide: 4;
}
@font: 8px;
.container {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list-app {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
  scroll-padding: 0;
  gap: 0.5rem;
  top: 0;
  position: relative;
  height: fit-content;
  flex: none;
  .app-content {
    width: calc(100% / var(--divide) - 0.5rem);
    overflow: hidden;
    flex: none;
    height: fit-content;
    border: 1px solid @disable-1;
    border-radius: @radius;
    font-size: @font;
    scroll-snap-align: start;
    &.selected {
      border-color: @primary-1;
      background-color: @primary-3;
    }
  }
}
.content-app {
  flex: auto;
  overflow: hidden;
  height: 100%;
}
::ng-deep.ant-switch {
  height: 1.375em;
  line-height: 1.375em;
  min-width: 2.75em;
  width: 2em;
  font-size: 1em;
  border-radius: 6.25em;
}
::ng-deep.ant-switch-handle {
  top: 0.125em;
  left: 0.125em;
  width: 1.125em;
  height: 1.125em;
  transition: inherit;
}
::ng-deep.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 1.125em - 0.125em);
}
@media (max-width: 1024px) {
  :host {
    --divide: 3;
  }
}
@media (max-width: 768px) {
  :host {
    --divide: 2;
  }
}
@media (max-width: 480px) {
  :host {
    --divide: 1;
  }
}
