<div class="container">
  <div class="list-app">
    <div
      *ngFor="let app of apps; index as idx"
      [id]="'app-random_' + app.id.toString()"
      class="app-content"
      [ngClass]="{
        selected: app.id === selectedApp?.id
      }"
    >
      <app-randoms
        [id]="app.id"
        [readonly]="true"
        (click)="onClickApp(idx)"
        (endRandom)="notificate($event, appRandom)"
        #appRandom
      ></app-randoms>
    </div>
  </div>
  <div class="content-app">
    <ng-container
      [ngTemplateOutlet]="selectedApp?.container ?? null"
    ></ng-container>
  </div>
</div>
